In [ ]:
my_list=['apple','banana','cherry','mango','orange']
my_list.append('coconut')

In [ ]:
print(my_list)

['apple', 'banana', 'cherry', 'mango', 'orange', 'coconut']

In [ ]:
my_list.insert(2,'lemon')
print(my_list)

['apple', 'banana', 'lemon', 'cherry', 'mango', 'orange', 'coconut']

In [ ]:
last=my_list.pop()
print(last)

coconut

In [ ]:
my_list.remove('apple')
print(my_list)

['banana', 'lemon', 'cherry', 'mango', 'orange']

In [ ]:
print(my_list)

['banana', 'lemon', 'cherry', 'mango', 'orange']

In [ ]:
my_list.reverse()
print(my_list)

['orange', 'mango', 'cherry', 'lemon', 'banana']

In [ ]:
def squared():
  m=list(map(int,input('Enter numbers:').split(' ')))
  return [i**2 for i in m]

print(squared())

Enter numbers:12 2 3
[144, 4, 9]

In [ ]:
num=[5, 3, 9, 1, 7]
nums=[i for i in sorted(set(num))]
nums[-2]

7

In [ ]:
def high(d):
  for i,j in d.items():
    if j==max(d.values()):
      return {i:j}
d={'apple': 2, 'banana': 1, 'cherry': 3}
print(high(d))

{'cherry': 3}

In [ ]:
dict1 = {'a': 1, 'b': 2}
dict2 = {'b': 3, 'c': 4}
dict3={i:j for i,j in dict1.items()}
for i,j in dict2.items():
  if i in dict3.keys():
    dict3[i]+=dict2[i]
  else:
    dict3[i]=j

print(dict3)

{'a': 1, 'b': 5, 'c': 4}

In [ ]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}
set3={i for i in set1 if i in set2}
print(set3)

{2, 3}

In [ ]:
data=[('Alice', 85), ('Bob', 90), ('Charlie', 82)]
datas=sorted(data, key=lambda x:x[1],reverse=True)
print(datas)

[('Bob', 90), ('Alice', 85), ('Charlie', 82)]

In [ ]:
inp= [[1, 2], [3, 4], [5, 6]]
tup=tuple((tuple(i) for i in inp))
print(tup)

((1, 2), (3, 4), (5, 6))

In [ ]:
num=[1, 2, 3, 4, 5, 6]
even=[i for i in num if i%2==0]
print(even)

[2, 4, 6]

In [ ]:
num=[1, 2, 3, 4, 5, 6]
even=list(filter(lambda x:x%2==0,num))
print(even)

[2, 4, 6]

In [ ]:
num=[1, 2, 3, 4]
nums=list(map(lambda x:x*3,num))
nums

[3, 6, 9, 12]

In [ ]:
from functools import reduce
num=[1, 2, 3, 4]
prod=reduce(lambda x,y:x*y, num)
prod

24

In [ ]:
num=[1, 2, 3, 4, 5, 6]
sqr=[i**2 for i in num if i%2==0]
sqr

[4, 16, 36]

In [ ]:
k=[1, 2, 3, 4]
dic={i:i**3 for i in k}
dic

{1: 1, 2: 8, 3: 27, 4: 64}

In [ ]:
word=['apple', 'banana', 'pear', 'kiwi']
ln={len(i) for i in word}
ln

{4, 5, 6}

In [ ]:
num=[-1, 2,0, -3, 4, -5, 6]
nums=[i for i in num if i>0]
nums

[2, 4, 6]

In [ ]:
name='hello'
num={i:name.count(i) for i in name}
num

{'h': 1, 'e': 1, 'l': 2, 'o': 1}

In [ ]:
num=[-1, 2,0, -3, 4, -5, 6]
dub=list(map(lambda x:x*2,num))
dub

[-2, 4, 0, -6, 8, -10, 12]

In [ ]:
name=["apple", "banana", "cherry"]
nam=list(map(lambda x:x.upper(),name))
nam

['APPLE', 'BANANA', 'CHERRY']

In [ ]:
num=[1, 2, 3, 4, 5, 6]
nums=list(filter(lambda x:x%2!=0,num))

nums

[1, 3, 5]

In [ ]:
name=["apple", "banana", "cherry"]
coun=list(map(lambda x:len(x),name))
coun

[5, 6, 6]

In [ ]:
word="hello world"
v=['a','e','i','o','u']
def vow(word):
  res=''.join([char for char in word if char not in v])
  return res
print(vow(word))

hll wrld

In [ ]:
num=[-1, 2, 3, -4, 5]
nums=list(map(lambda x:x**2,[i for i in num if i>0]))
nums

[4, 9, 25]

In [ ]:
name=["apple", "banana", "pear", "kiwi"]
names=sorted(name,key=lambda x:len(x))
names

['pear', 'kiwi', 'apple', 'banana']

In [ ]:
num=[1, 2, 2, 3, 4, 4, 5]
uni=[]
for i in num:
  if i not in uni:
    uni.append(i)

uni

[1, 2, 3, 4, 5]

In [ ]:
arr=[3, 1, 4, 2]
arr.sort(reverse=True)
arr

[4, 3, 2, 1]

In [ ]:
name=["apple", "banana", "orange", "kiwi"]
v=['a','e','i','o','u']
nm=[i for i in name if i[0] in v]
nm

['apple', 'orange']

In [ ]:
num=[-1, 2, 3, -4, 5]
sum1=sum(list(filter(lambda x:x>0,num)))
sum1

10

In [ ]:
num=[-1, 2, 3, -4, 5]
sum1=reduce(lambda x,y:x+y,list(filter(lambda x:x>0,num)))
sum1

10

In [ ]:
num=[1, 2, 3, 4, 5, 6]
su=list(map(lambda x:x**3,list(filter(lambda x:x%2==0,num))))
su

[8, 64, 216]

In [ ]:
name="hello world"
nam=[i for i in name if i!=' ']
dic={i:name.count(i) for i in nam}
dic

{'h': 1, 'e': 1, 'l': 3, 'o': 2, 'w': 1, 'r': 1, 'd': 1}

In [ ]:
nm=[1, 5, 8, 10]
op=[i for i in nm if i>5]
op

[8, 10]

In [ ]:
ip="hello world"
words=list(map(str,ip.split(' ')))
dic={i:len(i) for i in words}
dic

{'hello': 5, 'world': 5}

In [ ]:
def prime(n):
  if n<=1 :
    return False
  for i in range(2,(n//2)+1):
    if n%i==0 and i!=n:
      return False
  return True

num=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
primes=list(filter(lambda x:prime(x),num))
primes

[2, 3, 5, 7]

In [ ]:
name=[('Alice', 30), ('Bob', 15), ('Charlie', 25), ('David', 17)]
old=[i[0] for i in name if i[1]>=18]
old

['Alice', 'Charlie']

In [ ]:
name=["racecar", "hello", "level", "world", "radar"]
def palindrome(name):
  l=0
  r=len(name)-1
  while l<r:
    if name[l]!=name[r]:
      return False
    l+=1
    r-=1
  return True

nm=list(filter(lambda x:palindrome(x),name))
nm

['racecar', 'level', 'radar']

In [ ]:
num=[1, 2, 2, 3, 4, 4, 5]
print(sum(set(num)))

15

In [ ]:
num=[1, 2, 3, 4, 5]
nums=[i for i in num if i>(sum(num)/len(num))]
nums

[4, 5]

_____________________OOPS______________________

In [ ]:
class car:
  def __init__(self,make,model,year,ctype):
    self.__make=make
    self.__model=model
    self.__year=year
    self.__ctype=ctype
  def get_display(self):
    print("---- car details----")
    print(self.__make)
    print(self.__model)
    print(self.__year)
  def set_make(self,val):
    self.__make=val
  def set_model(self,val):
    self.__model=val
  def set_year(self,val):
    self.__year=val

  def cartype(self):
    return self.__ctype

obj=car('Ford','F-150',2019,'petrol')
obj.get_display()
obj.set_make('Nissan')
print()
obj.get_display()
print(obj.cartype())

class Electriccar(car):
  def __init__(self,make,model,year,ctype,battery_capacity):
    super().__init__(make,model,year,ctype)
    self.__battery_capacity=battery_capacity
  def get_display(self):
    print("----Electric car details----")
    super().get_display()
    return self.__battery_capacity


eobj=Electriccar('Tesla','model-y','2024','Electric Car',12000)
eobj.get_display()
print(eobj.cartype())

---- car details----
Ford
F-150
2019

---- car details----
Nissan
F-150
2019
petrol
----Electric car details----
---- car details----
Tesla
model-y
2024
Electric Car

oops(3-10-2024)

In [ ]:
class BankAccount:
  def __init__(self,account_holder,balance=0):
    self.account_holder=account_holder
    self.balance=balance
  def deposit(self,amount):
    self.balance+=amount
    print(f"Money Credited:{amount}")
  def withdraw(self,amount):
    if amount>self.balance:
      print("Insufficient Balance")
    else:
      self.balance-=amount
      print(f"Money Debited:{amount}")
  def display_balance(self):
    print(f"Account Balance: {self.balance}")

In [ ]:
h=BankAccount('Hari',25000)
h.display_balance()

Account Balance: 25000

In [ ]:
h.deposit(2000)
h.display_balance()

Money Credited:2000
Account Balance: 22450

In [ ]:
h.withdraw(2850)
h.display_balance()

Money Debited:2850
Account Balance: 19600

In [ ]:
class Employee:
  def __init__(self,name,position,salary):
    self.name=name
    self.position=position
    self.salary=salary
  def give_raise(self,amount):
    self.salary+=amount
  def display_info(self):
    print("Name:",self.name)
    print("Position:",self.position)
    print("Salary:",self.salary)

emp1=Employee("Hari","Accountant",25000)
emp1.give_raise(5000)
emp1.display_info()

Name: Hari
Position: Accountant
Salary: 30000

In [ ]:
class Manager(Employee):
  def __init__(self,name,position,salary,department):
    super().__init__(name,position,salary)
    self.department=department
  def display_info(self):
    super().display_info()
    print("Department:",self.department)

emp2=Manager("giri","Accounts Manager",50000,"Accounts")
emp2.give_raise(5000)
emp2.display_info()
print()
emp1.display_info()

Name: giri
Position: Accounts Manager
Salary: 55000
Department: Accounts

Name: Hari
Position: Accountant
Salary: 30000

In [ ]:
class Rectangle:
  def __init__(self,length,width) -> None:
    self.length=length
    self.width=width
  def area(self):
    area=self.length*self.width
    print(f"Area is: {area}")
  def perimeter(self):
    perimeter=2*(self.length+self.width)
    print(f"Perimeter is {perimeter}")

class Square(Rectangle):
  def __init__(self,side):
    super().__init__(side,side)

r=Rectangle(4,2)
r.area()
r.perimeter()
s=Square(4)
s.area()
s.perimeter()

Area is: 8
Perimeter is 12
Area is: 16
Perimeter is 16

In [ ]:
class shape:
  def __init__(self,l=0,w=0,h=0,name='Rectangle') -> None:
    self.l=l
    self.w=w
    self.h=h
    self.name=name
  def area(self):
    pass

class Rectangle(shape):
  def __init__(self,l,w=None) -> None:
    if w is None:
      name='Square'
      super().__init__(l,l,name=name)
    else:
      name='Rectangle'
      super().__init__(l,w,name=name)
  def area(self):
    res=self.l*self.w
    print(f"Area of {self.name}: {res} M^2")

class Circle(shape):
  def __init__(self,r) -> None:
    self.r=r
  def area(self):
    res=3.14*(self.r**2)
    print(f"Area of Circle: {res} M^2")

c=Circle(5)
c.area()
r=Rectangle(4)
r.area()
r1=Rectangle(4,5)
r1.area()

Area of Circle: 78.5 M^2
Area of Square: 16 M^2
Area of Rectangle: 20 M^2

In [ ]:
class stringadd:
  def __init__(self,a):
    self.a=a

  def __add__(self,other):
    return int(self.a)+int(other.a)


a=stringadd(1)
b=stringadd('3')
res=a+b
print(res)

4

ABSTARCTION

In [ ]:
from abc import ABC,abstractmethod
class Account(ABC):
  def __init__(self,balance=1000):
    self.balance=balance
  @abstractmethod
  def calcint(self):
    pass
  def get_balance(self):
    return self.balance

class SavingsAcc(Account):
  def __init__(self,bal):
    super().__init__(balance=bal)


  def calcint(self):
    interest=self.balance*0.04
    self.balance+=interest
    return interest

class CurrentsAcc(Account):
  def __init__(self,bal):
    super().__init__(balance=bal)
  def calcint(self):
    interest=self.balance*0.02
    self.balance+=interest
    return interest

s1=CurrentsAcc(2000)
print(s1.get_balance())
print(s1.calcint())
print(s1.get_balance())

2000
40.0
2040.0

ENcapsulation

In [ ]:
class BankAccount:
  def __init__(self,accno,name,balance):
    self.__accno=accno
    self.__name=name
    self.__balance=balance

  def get_balance(self,password):
    if self.__authorise(password):
      return (f"Account Balance: {self.__balance}")
    else:
      print("Incorreect password")

  def set_balance(self,amount,password):
    if self.__authorise(password):
      self.__balance+=amount
      print(f"{amount} Deposited in {self.__accno}")
    else:
      print("Incorreect password")
  def get_money(self,amount,password):
    if self.__authorise(password):
      if amount>self.__balance:
        print("Not Enough Balance")
      else:
        self.__balance-=amount
        print(f"{amount} Deducted from {self.__accno}")
        print(self.get_balance())
    else:
      print("Incorreect password")

  def __authorise(self,password):
    O_password='asdf123'
    return O_password==password

user=BankAccount('256Hari','Harikrishnan',25000)
print(user.get_balance('asdf123'))
user.set_balance(5000,'asdf123')
print(user.get_balance('asdf123'))

Account Balance: 25000
5000 Deposited in 256Hari
Account Balance: 30000

Challenges

In [ ]:
my_list = [2, 4, [6, 8], 10, [12, [14, 16]], 18]
my_list[4][1][1]

16

In [ ]:
my_string = "Python is fun!"
l=''
r=len(my_string)-1
while r>=0:
  l=l+my_string[r]
  r-=1
l

'!nuf si nohtyP'

In [ ]:
my_tuple = (1, 2, (3, 4), (5, (6, 7), 8), 9)
my_tuple[3][1][1]

7

In [ ]:
my_dict = {
    "name": "Alice",
    "age": 30,
    "address": {
        "city": "Wonderland",
        "zipcode": 12345,
        "coordinates": {
            "lat": 52.52,
            "long": 13.405
        }
    },
    "skills": ["Python", "Django", "Data Science"]
}

my_dict["address"]['coordinates']['long']

13.405

In [ ]:
my_dict.keys()

dict_keys(['name', 'age', 'address', 'skills'])

In [ ]:
def print_dict(d, indent=0):
    for key, value in d.items():
        print('  ' * indent + str(key) + ": ", end="")
        if isinstance(value, dict):
            print()  # Print a new line for nested dictionary
            print_dict(value, indent + 1)  # Recur for nested dictionaries
        else:
            print(value)  # Print the value
print_dict(my_dict)

name: Alice
age: 30
address:
  city: Wonderland
  zipcode: 12345
  coordinates:
    lat: 52.52
    long: 13.405
skills: ['Python', 'Django', 'Data Science']

In [ ]:
my_dict['address']['city']

'Wonderland'

In [ ]:
numbers = [1, 2, 3, 4, 5]
sqr=[i**2 for i in numbers]
sqr

[1, 4, 9, 16, 25]

In [ ]:
my_string = "hello world"
print(my_string.upper())

HELLO WORLD

In [ ]:
my_tuple = (10, 20, 30, 40, 50)
my_tuple[2]

30

In [ ]:
nested_list = [[1, 2, 3], [4, 5, [6, 7]], [8, 9]]
nested_list[1][2][0]

6

In [ ]:
my_list = [1, 2, 3, 4, 5]
my_list.append(6)
print(my_list)
print(my_list[1])
my_list[3]=40
print(my_list)
my_list.remove(2)
my_list

[1, 2, 3, 4, 5, 6]
2
[1, 2, 3, 40, 5, 6]

[1, 3, 40, 5, 6]

In [ ]:
my_dict = {
    "name": "Bob",
    "age": 25,
}
my_dict['city']='New York'
print(my_dict['name'])
my_dict['age']=26
print(my_dict)
del my_dict['name']
print(my_dict)

Bob
{'name': 'Bob', 'age': 26, 'city': 'New York'}
{'age': 26, 'city': 'New York'}

In [ ]:
my_set = {1, 2, 3}
my_set.add(4)
print(my_set)
if 3 in my_set:
  print('Yes')
my_set.remove(1)
my_set

{1, 2, 3, 4}
Yes

{2, 3, 4}

In [ ]:
my_tuple = (10, 20, 30)
my_tuple=list(my_tuple)
my_tuple.append(40)
my_tuple=tuple(my_tuple)
print(my_tuple)
print(my_tuple[1])
new=list(my_tuple)
new[1]=25
new=tuple(new)
print(new)

(10, 20, 30, 40)
20
(10, 25, 30, 40)

In [ ]:
my_string = "Hello, World!"
new=""+my_string+' How are you?'
newl=new.split(' ')
newl[1]='there!'
new2=' '.join(newl)
print(new2)
new3=new2.replace('there','Hari')
print(new3)

Hello, there! How are you?
Hello, Hari! How are you?

In [ ]:
num = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
nums=[i**2 for i in num if i%2==0]
nums

[4, 16, 36, 64, 100]

In [ ]:
nums=[i**2 if i%2==0 else i**3 for i in num]
nums

[1, 4, 27, 16, 125, 36, 343, 64, 729, 100]

In [ ]:
people = [("Alice", 30), ("Bob", 25), ("Charlie", 35)]
name={i[0]:i[1] for i in people}
name

{'Alice': 30, 'Bob': 25, 'Charlie': 35}

In [ ]:
numbers = [1, 2, 3, 2, 4, 5, 3, 4, 5]
num={i for i in numbers if i%2==0}
num

{2, 4}

In [ ]:
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
nums=[i for li in matrix for i in li]
nums

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
numbers = [1, 2, 3, 4, 5]
nums=list(map(lambda x:x**3,numbers))
nums

[1, 8, 27, 64, 125]

In [ ]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even=list(filter(lambda x:x%2==0,numbers))
even

[2, 4, 6, 8, 10]

In [ ]:
from functools import reduce
numbers = [1, 2, 3, 4, 5]
product=reduce(lambda x,y:x*y,numbers)
product

120

In [ ]:
def log_decorator(fun):
  def wrapper(*args):
    print(f"First arg:{args[0]}")
    print(f"Second arg:{args[1]}")
    res=fun(*args)
    return res
  return wrapper

@log_decorator
def add(a,b):
  return a+b

print(add(2,8))

First arg:2
Second arg:8
10

In [ ]:
students = {
    'Alice': 88,
    'Bob': 95,
    'Charlie': 87,
    'David': 92
}
h=max(students.values())
for i,j in students.items():
  if j==h:
    print(i,':',j)

Bob : 95

In [ ]:
products = {
    'Laptop': 800,
    'Phone': 600,
    'Tablet': 300
}
for i,j in products.items():
  j=j*1.10
  products[i]=round(j,2)

products

{'Laptop': 880.0, 'Phone': 660.0, 'Tablet': 330.0}

In [ ]:
employees = {
    'Alice': ['task1', 'task2', 'task3'],
    'Bob': ['task1', 'task2'],
    'Charlie': ['task1', 'task2', 'task3', 'task4'],
    'David': ['task1']
}
emp={i:len(j) for i,j in employees.items()}
h=max(emp.values())
for i,j in emp.items():
  if j==h:
    print(i)

Charlie

In [ ]:
cities = {
    'CityA': {'population': 500000, 'area': 400},
    'CityB': {'population': 1200000, 'area': 850},
    'CityC': {'population': 700000, 'area': 300}
}
pop={i:j['population']/j['area'] for i,j in cities.items()}
print(pop)
h=max(pop.values())
for i,j in pop.items():
  if j==h:
    print(i)

{'CityA': 1250.0, 'CityB': 1411.764705882353, 'CityC': 2333.3333333333335}
CityC

In [ ]:
inventory = {
    'Laptop': {'price': 800, 'quantity': 10},
    'Phone': {'price': 600, 'quantity': 50},
    'Tablet': {'price': 300, 'quantity': 20}
}
valu={i:j['price']*j['quantity'] for i,j in inventory.items()}
price=sum(valu.values())
print(price)

44000

In [ ]:
grades = {
    'Alice': {'math': 85, 'science': 90, 'english': 78},
    'Bob': {'math': 70, 'science': 82, 'english': 65},
    'Charlie': {'math': 92, 'science': 88, 'english': 95}
}
stu={i:round(sum(j.values())/3,2) for i,j in grades.items()}
stu

{'Alice': 84.33, 'Bob': 72.33, 'Charlie': 91.67}

In [ ]:
companies = {
    'CompanyA': [('Alice', 70000), ('Bob', 60000), ('Charlie', 80000)],
    'CompanyB': [('David', 90000), ('Eve', 95000)],
    'CompanyC': [('Frank', 50000), ('Grace', 52000), ('Heidi', 51000)]
}
average={}
for i,j in companies.items():
  avg=sum(k[1] for k in j)/len(j)
  average[i]=round(avg,2)
print(average)
comp={i:j for i,j in average.items() if j==max(average.values())}
comp

{'CompanyA': 70000.0, 'CompanyB': 92500.0, 'CompanyC': 51000.0}

{'CompanyB': 92500.0}

In [ ]:
# Step 1: Calculate average salary for each company
avg_salaries = {company: sum(salary for _, salary in employees) / len(employees)
                for company, employees in companies.items()}

# Step 2: Find the maximum average salary
max_avg_salary = max(avg_salaries.values())

# Step 3: Use filter to find the company with the maximum average salary
highest_avg_company = dict(filter(lambda item: item[1] == max_avg_salary, avg_salaries.items()))

print(highest_avg_company)

{'CompanyB': 92500.0}

In [ ]:
students = {
    'Alice': [88, 92, 85],
    'Bob': [70, 78, 72],
    'Charlie': [95, 90, 93]
}
avg=max([sum(i)/len(i) for i in students.values()])
avgs={i:sum(j)/len(j) for i,j in students.items() if sum(j)/len(j)==avg}
avgs

{'Charlie': 92.66666666666667}

In [ ]:

lst=[1,2,3,4,5,6,7]
lst1=iter(lst)## iterator
lst1

In [ ]:
next(lst1)

1

In [ ]:
for i in lst1:
  print(i)

1
2
3
4
5
6
7

In [ ]:
def my_gen(n):####Generator
  for i in range(n):
    yield i
g=my_gen(5)
next(g)

0

In [ ]:
for i in g:
  print(i)

1
2
3
4

In [ ]:
x=lambda x,y:x*y
x(5,6)

30

In [ ]:
x=lambda x:'Zero' if x==0 else 'even' if x%2==0 else 'odd'
x(3)

'odd'

In [ ]:
num=[1,2,3,4,5,6,7,8,9,10]
stat=list(map(lambda x:('Even',x) if x%2==0 else ('Odd',x),num))
print(*stat,sep=',')

('Odd', 1),('Even', 2),('Odd', 3),('Even', 4),('Odd', 5),('Even', 6),('Odd', 7),('Even', 8),('Odd', 9),('Even', 10)

In [ ]:
num=[1,2,3,4,5,6,7,8,9,10]
def gen2(num):
  for i in num:
    yield i

geno=gen2(num)
next(geno)

1

In [ ]:
try:
  print(next(geno))
except StopIteration as e:
  print("End of iteration")
else:
  print("-----Success-----")
finally:
  print("End of program")

End of iteration
End of program

In [ ]:
num=[1,2,3,4,5,6,7,8,9,10]
nums=list(filter(lambda x:x if x%2==0 else True, num))
nums

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
class Vehicle:
  def __init__(self,brand,model,year):
    self.brand=brand
    self.model=model
    self.year=year
  def vehicle_info(self):
    print(f"Brand: {self.brand}, Model: {self.model}, Year: {self.year}")

class Car(Vehicle):
  def __init__(self,brand,model,year,fuel_type):
    super().__init__(brand,model,year)
    self.fuel_type=fuel_type
  def vehicle_info(self):
    print(f"Brand: {self.brand}, Model: {self.model}, Year: {self.year}, Fuel: {self.fuel_type}")

ve=Vehicle('ford','f150',2021)
ve.vehicle_info()

ce=Car('Maruti','Alto',2020,'petrol')
ce.vehicle_info()

Brand: ford, Model: f150, Year: 2021
Brand: Maruti, Model: Alto, Year: 2020, Fuel: petrol

In [ ]:
class BankAccount:
  def __init__(self,account_holder,balance):
    self._account_holder=account_holder
    self.__balance=balance
  def get_balance(self):
    return f"Balance : {self.__balance}"
  def set_balance(self,amount):
    if amount>0:
      self.__balance+=amount
      print("Amount credited")
    else:
      print("Invalid amount")
  def withdraw(self,amount):
    if amount>self.__balance:
      print("Insufficient Balance")
    else:
      self.__balance-=amount
      print(f"{amount} Debited from Account")

b=BankAccount('Hari',5000)
print(b.get_balance())
b.set_balance(500)
print(b.get_balance())
b.withdraw(1000)
print(b.get_balance())
print(b._BankAccount__balance)##### Mangled Name for private attributes

Balance : 5000
Amount credited
Balance : 5500
1000 Debited from Account
Balance : 4500
4500

In [ ]:
num=10
assert num>10

AssertionError:

In [ ]:
try:
  num=10
  assert num>10
  print("Yes it is")
except AssertionError as e:
  print("num is not greater than 10")

num is not greater than 10

In [ ]:
a=[1,2,3,4,5]
b=iter(a)
next(b)

1

In [ ]:
for i in b:
  print(i)

2
3
4
5

In [ ]:
a=[1,2,3,4,5]
def my_gen(a):
  for i in a:
    yield i
a=my_gen(a)

In [ ]:
next(a)

5

In [ ]:
class person:
  def __init__(self,name,age):
    self.name=name
    self.age=age
  def dis_info(self):
    print(f'Name is {self.name}\nAge is {self.age}')


class Employee(person):
  def __init__(self,name,age,emp_id):
    super().__init__(name,age)
    self.emp_id=emp_id
  def dis_info(self):
    super().dis_info()
    print(f"Emp-id is {self.emp_id}")

class Manager(Employee):
  def __init__(self,name,age,emp_id,dep):
    super().__init__(name,age,emp_id)
    self.dep=dep
    self.dep_obj=c.get_name()
  def dis_info(self):
    super().dis_info()
    print(f"Department is {self.dep}")
    print(f"DEP_Name is {self.dep_obj}")

p=person("Hari",55)
p.dis_info()
print()
E=Employee("Hari",26,'56khhj')
E.dis_info()
print()


# class Department:
#   def __init__(self,dept_name):
#     self.dept_name=dept_name
#   def get_name(self):
#     return self.dept_name

# c=Department('mongo')
M=Manager("Das",55,'M2khj','Sorting')
M.dis_info()

Name is Hari
Age is 55

Name is Hari
Age is 26
Emp-id is 56khhj

NameError: name 'c' is not defined

In [ ]:
for i in range(15):
  print(i)
  if i==11:
    exit()
else:
  print("f")

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
f

In [ ]:
class Manager:
  def __init__(self,name,age):
    self.__name=name
    self.age=age

  def __info(self):
    print(self.__name,self.age)
  def get_age(self):
    return self.__name
  def get_info(self):
    return self.__info()

In [ ]:
m=Manager('hhdh',25)
print(m.get_age())
m.get_info()

hhdh
hhdh 25

In [ ]:
def square(fun):
  def wrapper(a,b):
    res=fun(a**2,b**2)
    return res**2
  return wrapper

@square
def summ(a,b):
  return a+b

s=summ(2,3)
s

169

In [ ]:
num=[1,2,3,4,5]
nums=list(map(lambda x:x+1 if x%2==0 else x,num))
print(nums)

[1, 3, 3, 5, 5]

In [ ]:
num=[1,2,3,4,5]
nums=list(filter(lambda x:x%2==0,num))
nums

[2, 4]

In [ ]:
from functools import reduce
num=[1,2,3,4,5]
nums=reduce(lambda x,y:x+y,num)
nums

15

In [ ]:
class Car:
  def __init__(self,make,model,year):
    self.make=make
    self.model=model
    self.year=year
  def details(self):
    return f"Make:{self.make}, Moedl:{self.model}, Year:{self.year}"
  @classmethod
  def from_string(cls,s):
    make,model,year=s.split(',')
    return cls(make,model,int(year))

  @staticmethod
  def is_vintage(year):
    res=2024-year
    return 'Vintage' if res>=25 else 'Not-vintage'


car1=Car('BMW','350-D',2023)
print(car1.details())
car2=Car.from_string('Benz,c-class,2021')
print(car2.details())
print(Car.is_vintage(1985))

Make:BMW, Moedl:350-D, Year:2023
Make:Benz, Moedl:c-class, Year:2021
Vintage

In [ ]:
class Electriccar(Car):
  def __init__(self,make,model,year,battery_size):
    super().__init__(make,model,year)
    self.battery_size=battery_size

  def battery_info(self):
    return self.battery_size

  def details(self):
    return f"Make:{self.make}, Moedl:{self.model}, Year:{self.year}, Battery:{self.battery_size}"

  def upgrade_battery(self,val):
    self.battery_size=val

  def comapre_battery(self,ob1):
    bat1=int(self.battery_size[:-2])
    bat2=int(ob1.battery_size[:-2])
    if bat1>bat2:
      return f"{self.model}"
    elif bat2>bat1:
      return f"{ob1.model}"
    else:
      return "same size"

  def car_range(self):
    bat=int(self.battery_size[:-2])
    return f"{bat*5}Km"

  def __str__(self):
    return f"{self.make} {self.model}({self.year}) with a battery sixe of {self.battery_size}"

  def get_age(self):
    return 2024-self.year


ecar1=Electriccar('Tesla','model-2',2023,'1220Kw')
ecar2=Electriccar('Tesla','model-x',2020,'1420Kw')
print(ecar1.comapre_battery(ecar2))
print(ecar1.car_range())
print(ecar2)
print(ecar2.get_age())

model-x
6100Km
Tesla model-x(2020) with a battery sixe of 1420Kw
4

In [ ]:
input_list = [1, 2, 3, 4, 5, 6]
output_list = [i for i in input_list if i%2==0]
output_list

[2, 4, 6]

In [ ]:
inp = "hellohari"
dic={}
for i in inp:
  if i in dic:
    dic[i]+=1
  else:
    dic[i]=1
print(dic)

{'h': 2, 'e': 1, 'l': 2, 'o': 1, 'a': 1, 'r': 1, 'i': 1}

In [ ]:
input_list = [1, 2, 2, 3, 4, 4, 5]
output_list = list(set(input_list))
output_list

[1, 2, 3, 4, 5]

In [ ]:
inp = "racekcar"
l=0
r=len(inp)-1
flag=0
while l<r:
  if inp[l]!=inp[r]:
    flag=1
    break
  l+=1
  r-=1
if flag==0:
  print('P')
else:
  print('N')

N

In [ ]:
inp = "hello"
out=''+inp[::-1]
print(out)

olleh

In [ ]:
lis = [1, 2, 2, 3, 4, 4, 5]
out=[]
for i in lis:
  if i not in out:
    out.append(i)
out

[1, 2, 3, 4, 5]

In [ ]:
tup = (1, 2, 3, 4, 5, 6)
out=(i for i in tup if i%2==0)
tuple(out)

(2, 4, 6)

In [ ]:
lis = [1, 2, 3, 4, 5]
set1 = set(lis)
set2 = {3, 4, 5, 6}
intr={i for i in set1 if i in set2}
intr

{3, 4, 5}

In [ ]:
scores = {'Alice': 85, 'Bob': 92, 'Charlie': 87}
for i,j in scores.items():
  if j==max(scores.values()):
    print(i)

Bob

In [ ]:
top=max(scores,key=scores.get)
top

'Bob'

In [ ]:
li=[1,2,3,4,5,6,9,44,68,23,21,55]
l=0
sl=0
for i in li:
  if i%2!=0:
    if i>l:
      sl=l
      l=i
    elif i>sl and i<l:
      sl=i
print(l,sl)

55 23

In [ ]:
nm={'ha':25,'gh':66,'jf':23}
print(nm)
val=max(nm.values())
key=None
for i in nm:
  if nm[i]==val:
    key=i

del nm[key]
nm

{'ha': 25, 'gh': 66, 'jf': 23}

{'ha': 25, 'jf': 23}

In [ ]:
people = {
    "John": 34,
    "Alice": 29,
    "Bob": 42,
    "Diana": 25
}
for i in people:
  if people[i]==max(people.values()):
    print(i)

Bob

In [ ]:
oldest_age = max(people.values())
oldest_person = list(filter(lambda x: people[x] == oldest_age, people))[0]
print(oldest_person)

Bob

In [ ]:
dict1 = {
    "a": 1,
    "b": 2,
    "c": 3
}

dict2 = {
    "b": 20,
    "d": 4
}
dict1.update(dict2)
print(dict1)

{'a': 1, 'b': 20, 'c': 3, 'd': 4}

In [ ]:
numbers = {
    "a": 5,
    "b": 12,
    "c": 7,
    "d": 20,
    "e": 3
}
num={i:j for i,j in numbers.items() if j>10}
num

{'b': 12, 'd': 20}

In [ ]:
num=dict(filter(lambda x:x[1]>10,numbers.items()))
num

{'b': 12, 'd': 20}

In [ ]:
fruits = {
    "apple": "red",
    "cherry": "red",
    "banana": "yellow",
    "lemon": "yellow",
    "grape": "purple"
}
val={}
for i in fruits.values():
  if i in val:
    val[i]+=1
  else:
    val[i]=1
val

{'red': 2, 'yellow': 2, 'purple': 1}

In [ ]:
original = {
    "a": 1,
    "b": 2,
    "c": 3
}
invert={}
for i in original:
  invert[original[i]]=i

invert

{1: 'a', 2: 'b', 3: 'c'}

In [ ]:
inv={j:i for i,j in original.items()}
inv

{1: 'a', 2: 'b', 3: 'c'}

In [ ]:
data = [
    ("fruit", "apple"),
    ("fruit", "banana"),
    ("vegetable", "carrot"),
    ("fruit", "orange"),
    ("vegetable", "lettuce"),
]

dict1={}
for i in data:
  if i[0] not in dict1:
    dict1[i[0]]=[i[1]]
  else:
    dict1[i[0]].append(i[1])

dict1

{'fruit': ['apple', 'banana', 'orange'], 'vegetable': ['carrot', 'lettuce']}

In [ ]:
inventory = {
    "Alice": "apple",
    "Bob": "banana",
    "Charlie": "apple",
    "David": "orange",
    "Eve": "banana"
}
val={}
for i,j in inventory.items():
  if j in val:
    val[j]+=1
  else:
    val[j]=1
for i in val:
  if val[i]==max(val.values()):
    print(i,end=' ')

apple banana

In [ ]:
data = {
    "a": 1,
    "b": 2,
    "c": 1,
    "d": 3,
    "e": 1
}

key=[i for i,j in data.items() if j==1]
for i in key:
  del data[i]

data

{'b': 2, 'd': 3}

In [ ]:
nested_dict = {
    "fruits": {
        "apple": 1,
        "banana": 2
    },
    "vegetables": {
        "carrot": 3,
        "lettuce": 4
    }
}

my={}
for i,j in nested_dict.items():
  for k,l in j.items():
    my[f"{i}_{k}"]=l

my

{'fruits_apple': 1,
 'fruits_banana': 2,
 'vegetables_carrot': 3,
 'vegetables_lettuce': 4}

In [ ]:
a=[]
a.extend([4,5])
a

[4, 5]

In [ ]:
dict1 = {
    "a": 1,
    "b": 2,
    "c": 3
}

dict2 = {
    "b": 3,
    "c": 4,
    "d": 5
}

dict3={i:j for i,j in dict1.items()}
for key,val in dict2.items():
  if key in dict3:
    if type(dict3[key])=='list':
      dict3[key].append(val)
    else:
      dict3[key]=[dict3[key],val]
  else:
    dict3[key]=val


dict3

{'a': 1, 'b': [2, 3], 'c': [3, 4], 'd': 5}

In [ ]:
inp = "Hello World"
input=inp.split(' ')
inpu=''.join(input)
inpu

'HelloWorld'

In [ ]:
inp = "Hello World"
val={}
for i in inpu:
  if i in val:
    val[i]+=1
  else:
    val[i]=1

val

{'H': 1, 'e': 1, 'l': 3, 'o': 2, 'W': 1, 'r': 1, 'd': 1}

In [ ]:
numbers = [4, 5, 6, 5, 4, 3, 6, 4, 6, 7]
fre={}
for i in numbers:
  if i in fre:
    fre[i]+=1
  else:
    fre[i]=1

res={}
for i,j in fre.items():
  if j not in res:
    res[j]=[i]
  else:
    res[j].append(i)

res

{3: [4, 6], 2: [5], 1: [3, 7]}

In [ ]:
items = {
    "apple": 10,
    "banana": 5,
    "orange": 5,
    "mango": 12
}
val=min(items.values())
for i,j in items.items():
  if j==val:
    print(i,end=' ')

banana orange

In [ ]:
name='harikrishnan'
name=name[:-1]+name[-1].upper()
name

'harikrishnaN'

In [ ]:
numbers = [1, 2, 3, 4, 5]
sqrs=list(map(lambda x:x*x,numbers))
sqrs

[1, 4, 9, 16, 25]

In [ ]:
numbers = [10, 15, 20, 25, 30, 35]
even=list(filter(lambda x:x%2==0,numbers))
even

[10, 20, 30]

In [ ]:
words = ['apple', 'banana', 'cherry', 'date']
length=[len(i) for i in words]
length

[5, 6, 6, 4]

In [ ]:
numbers = [1, 2, 3, 4, 5]
cubes={i:i**3 for i in numbers}
cubes

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125}

In [ ]:
from functools import reduce
numbers = [2, 3, 4]
sum=reduce(lambda x,y:x*y,numbers)
sum

24

In [ ]:
ages = {'Alice': 22, 'Bob': 17, 'Charlie': 18, 'David': 16}
abv_18={i:j for i,j in ages.items() if j>=18}
abv_18

{'Alice': 22, 'Charlie': 18}

In [ ]:
students = [
    {'name': 'Alice', 'score': 45},
    {'name': 'Bob', 'score': 55},
    {'name': 'Charlie', 'score': 70},
    {'name': 'David', 'score': 30}
]

student=list(map(lambda x:x if x['score']>50 else '',students))
student

45
55
70
30

['', {'name': 'Bob', 'score': 55}, {'name': 'Charlie', 'score': 70}, '']

In [ ]:
stu=[i for i in students if i['score']>50]
stu

[{'name': 'Bob', 'score': 55}, {'name': 'Charlie', 'score': 70}]

In [ ]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
nums=[i for i in numbers if i%3==0]
nums

[3, 6, 9, 12]

In [ ]:
nums=list(filter(lambda x:x%3==0,numbers))
nums

[3, 6, 9, 12]

In [ ]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
num=[i for i in numbers if i%3==0]

In [ ]:
prices = [10.99, 20.50, 5.99, 15.00]
sum1=round(reduce(lambda x,y:x+y,prices),2)
sum1

52.48

In [ ]:
products = {
    'apple': 1.00,
    'banana': 0.50,
    'orange': 0.75
}
updated={i:j*1.1 for i,j in products.items()}
updated

{'apple': 1.1, 'banana': 0.55, 'orange': 0.8250000000000001}

In [ ]:
people = [('Alice', 30), ('Bob', 25), ('Charlie', 35)]
data= [{'name':i[0],'age':i[1]} for i in people]
data

[{'name': 'Alice', 'age': 30},
 {'name': 'Bob', 'age': 25},
 {'name': 'Charlie', 'age': 35}]

In [ ]:
names = ['alice', 'bob', 'charlie']
name=list(map(lambda x:x.upper(),names))
name

['ALICE', 'BOB', 'CHARLIE']

In [ ]:
numbers = [5, 10, 15, 20, 25, 30]
nums=list(filter(lambda x:x>10,numbers))
nums

[15, 20, 25, 30]

In [ ]:
type('name')

str

In [ ]:
mixed = [1, 'apple', 2, 'banana', 3, 'cherry']
strings=[i for i in mixed if isinstance(i,str)]
strings

['apple', 'banana', 'cherry']

In [ ]:
from functools import reduce
numbers = [10, 5, 20, 15]
mx=reduce(lambda x,y:x if x>y else y,numbers)
mx

20

In [ ]:
people = [
    ('Alice', 22, ['red', 'blue']),
    ('Bob', 17, ['green']),
    ('Charlie', 18, ['yellow', 'pink']),
    ('David', 25, ['purple', 'orange'])
]
data={i[0]:i[2] for i in people if i[1]>=18}
data

{'Alice': ['red', 'blue'],
 'Charlie': ['yellow', 'pink'],
 'David': ['purple', 'orange']}

In [ ]:
products = [
    {'name': 'Laptop', 'price': 899.99},
    {'name': 'Mouse', 'price': 25.00},
    {'name': 'Keyboard', 'price': 49.99},
    {'name': 'Monitor', 'price': 199.99},
    {'name': 'USB Cable', 'price': 10.00}
]
data=[{'name':i['name'].lower(),'price':i['price']} for i in products if i['price']>20]
data

[{'name': 'laptop', 'price': 899.99},
 {'name': 'mouse', 'price': 25.0},
 {'name': 'keyboard', 'price': 49.99},
 {'name': 'monitor', 'price': 199.99}]

In [ ]:
students = [
    {'name': 'Alice', 'grades': [55, 70, 65]},
    {'name': 'Bob', 'grades': [45, 50]},
    {'name': 'Charlie', 'grades': [80, 85, 90]},
    {'name': 'David', 'grades': [30, 40, 50]}
]
val=[i for inner in students for i in inner['grades'] if i >= 60]
val

[70, 65, 80, 85, 90]

In [ ]:
fruits = [
    {'name': 'apple', 'quantity': 10},
    {'name': 'banana', 'quantity': 3},
    {'name': 'cherry', 'quantity': 7},
    {'name': 'date', 'quantity': 5},
    {'name': 'elderberry', 'quantity': 12}
]
data={i['name']:i['quantity']*2 for i in fruits if i['quantity']>5}
data

{'apple': 20, 'cherry': 14, 'elderberry': 24}

In [ ]:
students = [
    {'name': 'Alice', 'grades': [90, 80, 70]},
    {'name': 'Bob', 'grades': [60, 70]},
    {'name': 'Charlie', 'grades': [100, 90, 80, 70]},
    {'name': 'David', 'grades': [50]}
]
data={i['name']:sum(i['grades'])/len(i['grades']) for i in students if len(i['grades'])>=3}
data

{'Alice': 80.0, 'Charlie': 85.0}

In [ ]:
products = [
    {'name': 'Laptop', 'price': 899.99},
    {'name': 'Mouse', 'price': 25.00},
    {'name': 'Keyboard', 'price': 49.99},
    {'name': 'Monitor', 'price': 199.99},
    {'name': 'USB Cable', 'price': 15.00}
]
data=[i['name'] for i in products if i['price']*.9 > 30]
data

['Laptop', 'Keyboard', 'Monitor']

In [ ]:
employees = [
    {'name': 'Alice', 'salary': 60000},
    {'name': 'Bob', 'salary': 45000},
    {'name': 'Charlie', 'salary': 70000},
    {'name': 'David', 'salary': 48000}
]
data={i['name']:i['salary']*1.05 for i in employees if i['salary']>50000}
data

{'Alice': 63000.0, 'Charlie': 73500.0}

In [ ]:
students = [
    {'name': 'Eve', 'scores': [85, 70, 90]},
    {'name': 'Frank', 'scores': [60, 65, 70]},
    {'name': 'Grace', 'scores': [75, 80, 85]},
    {'name': 'Heidi', 'scores': [50, 55, 60]}
]
data=[i['name'] for i in students if sum(i['scores'])/len(i['scores'])>=75]
data

['Eve', 'Grace']

In [ ]:
products = [
    {'name': 'Shampoo', 'quantity': 15},
    {'name': 'Soap', 'quantity': 8},
    {'name': 'Conditioner', 'quantity': 20},
    {'name': 'Toothpaste', 'quantity': 5}
]
data={i['name']:i['quantity']*2 for i in products if i['quantity']>10}
data

{'Shampoo': 30, 'Conditioner': 40}

In [ ]:
cars = [
    {'make': 'Toyota', 'model': 'Camry', 'year': 2012},
    {'make': 'Honda', 'model': 'Civic', 'year': 2009},
    {'make': 'Ford', 'model': 'Focus', 'year': 2015},
    {'make': 'Chevrolet', 'model': 'Malibu', 'year': 2008}
]
data=[f"{i['make']} {i['model']} ({i['year']})" for i in cars if i['year']>=2010]
data

['Toyota Camry (2012)', 'Ford Focus (2015)']

In [ ]:
def nums(x):
  for i in range(1,x):
    yield i

y=nums(5)
print(next(y))

1

In [ ]:
for i in y:
  print(i)

2
3
4

In [ ]:
def funmain(fu):
  def wrapper():
    print('Hello')
    fu()
    print('Bi')
  return wrapper

@funmain
def fun():
  print('Hi')

x=fun()

Hello
Hi
Bi

In [ ]:
def time(func):
  def wrapper(a,b):
    print('start')
    f=func(a,b)
    print(f)
    print('End')

  return wrapper

@time
def sum(a,b):
  return a+b

s=sum(9,9)

start
18
End

In [ ]:
numbers = [3, 5, 7, 9, 11, 13, 15]
num=list(filter(lambda x:x%3==0,numbers))
num

[3, 9, 15]

In [ ]:
num=[i for i in numbers if i%3==0]
num

[3, 9, 15]

In [ ]:
salaries = {'Alice': 6000, 'Bob': 4500, 'Charlie': 8000, 'Diana': 4000}
for i in salaries:
  salaries[i]=round(salaries[i]*1.1,3)

salaries

{'Alice': 6600.0, 'Bob': 4950.0, 'Charlie': 8800.0, 'Diana': 4400.0}

In [ ]:
sentence = "Python programming is both fun and powerful."
l=' '.join([i[::-1] for i in sentence.split(' ')])
l

'nohtyP gnimmargorp si htob nuf dna .lufrewop'

In [ ]:
numbers_tuple = (2, 4, 6, 8, 10, 12, 14, 16, 18)
even=[i for i in numbers_tuple if i%2==0 and i>10]
even

[12, 14, 16, 18]

In [ ]:
even=list(filter(lambda x:x%2==0 and x>10,numbers_tuple))
even

[12, 14, 16, 18]

In [ ]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
set3=set1.intersection(set2)
print(set3)
set4=set1&set2

print(set4)

{4, 5}
{4, 5}

In [ ]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
nums=[i*i for i in numbers if i%2!=0]
nums

num=list(map(lambda x:x*x,list(filter(lambda x:x%2!=0,numbers))))
num

[1, 9, 25, 49, 81]

In [ ]:
lines = [
        "Name: Alice, Salary: 6000\n",
        "Name: Bob, Salary: 4500\n",
        "Name: Charlie, Salary: 8000\n",
        "Name: Diana, Salary: 4000\n"
    ]

    # Open the file in write mode
with open('employees.txt', 'w') as file:
      file.writelines(lines)

In [ ]:
with open('employees.txt', 'r') as file:
  content=file.read()
  print(content)

Name: Alice, Salary: 6000
Name: Bob, Salary: 4500
Name: Charlie, Salary: 8000
Name: Diana, Salary: 4000

In [ ]:
for i in range(1,6):
  for j in range(1,i+1):
    print('*',end=" ")
  print()

*
* *
* * *
* * * *
* * * * *

In [ ]:
for i in range(5,0,-1):
  for j in range(i):
    print('*',end=' ')
  print()

* * * * *
* * * *
* * *
* *
*

In [ ]:
n=7
for i in range(n,0,-1):
  for j in range(i):
    print(' ',end='')
  for k in range(n+1-i):
    print('*',end=' ')
  print()

       *
      * *
     * * *
    * * * *
   * * * * *
  * * * * * *
 * * * * * * *

In [ ]:
n=13
v=n//2+1
s=1
m=2
j=n//2
for i in range(1,n+1):
  if i<=n//2+1:
    for i in range(v):
      print(' ',end='')
    for i in range(s):
      print('*',end=' ')
    v-=1
    s+=1
    print()
  if i>n//2+1:
    for i in range(m):
      print(' ',end='')
    for i in range(j):
      print('*',end=' ')
    m+=1
    j-=1
    print()

       *
      * *
     * * *
    * * * *
   * * * * *
  * * * * * *
 * * * * * * *
  * * * * * *
   * * * * *
    * * * *
     * * *
      * *
       *

In [ ]:
n = 10 # Change this to any odd or even number

# Calculate the number of rows for the top half and bottom half
if n % 2 == 0:
    half = n // 2
else:
    half = n // 2 + 1

# Top half of the diamond
v = half - 1  # Starting spaces
s = 1  # Starting stars

for i in range(half):
    print(' ' * v + '* ' * s)
    v -= 1
    s += 1

# Bottom half of the diamond
v = 1  # Reset spaces for the bottom half
s = half - 1  # Starting stars for the bottom half

for i in range(half - 1):
    print(' ' * v + '* ' * s)
    v += 1
    s -= 1

    *
   * *
  * * *
 * * * *
* * * * *
 * * * *
  * * *
   * *
    *

In [ ]:
for i in range(1,6):
  for j in range(1,6):
    if i==1 or i==5 or j==1 or j==5:
      print('*',end=' ')
    else:
      print(' ',end=' ')
  print()

* * * * *
*       *
*       *
*       *
* * * * *

In [ ]:
lst = [1, 2, 2, 3, 4, 4, 5, 1]
for i in range(len(lst)-1,-1,-1):
  if lst[i] in lst[:i]:
    lst.pop(i)
lst

[1, 2, 3, 4, 5]

In [ ]:
inp= [1, 2, 2, 3, 3, 3, 4, 2, 2, 5]
for i in range(len(inp)-1,0,-1):
  if inp[i]==inp[i-1]:
    inp.pop(i)
inp

[1, 2, 3, 4, 2, 5]

In [ ]:
inp=[0, 1, 9, 0, 3, 0, 12, 0]
n=len(inp)#8
for i in range(n):
  if inp[i]==0:
    for j in range(i,n-1):
      inp[j]=inp[j+1]
    i-=1
    inp[-1]=0
inp

[1, 9, 3, 12, 0, 0, 0, 0]

In [ ]:
inp=[0, 1, 9, 0, 3, 0, 12, 0]
count=0
for i in range(len(inp)):
  if inp[i]!=0:
    inp[count]=inp[i]
    count+=1
while count<len(inp):
  inp[count]=0
  count+=1
inp

[1, 9, 3, 12, 0, 0, 0, 0]

In [ ]:
inp=[12, 35,33, 1, 10, 34, 1]
lrg=0
slrg=0
for i in inp:
  if i>=lrg:
    slrg=lrg
    lrg=i
  elif i>=slrg and i<lrg:
    slrg=i
print(f"largest={lrg} SecondLargest={slrg}")

largest=35 SecondLargest=34

In [ ]:
inp= "Hello, World!"
lt=[i for i in inp if i.isalpha()]
print(set(lt))

{'H', 'r', 'e', 'o', 'l', 'W', 'd'}

In [ ]:
a,b=[ "listen", "silent"]
a=''.join(sorted(list(map(lambda x:x.lower(),a))))
b=''.join(sorted(list(map(lambda x:x.lower(),b))))
print(a==b)

True

In [ ]:
inp="malayalam"
c=[]
def palindrome(x):
  s=0
  e=len(x)-1
  while s<e:
    if x[s]!=x[e]:
      return False
    s+=1
    e-=1
  return True

for i in range(len(inp)+1):
  for j in range(i,len(inp)+1):
    if inp[i:j] and palindrome(inp[i:j]):
      c.append(inp[i:j])


# print(c)
val={i:len(i) for i in c}
mx=max(val.values())
for key,value in val.items():
  if value==mx:
    print(key,end=' ')

malayalam

In [ ]:
list1 = [1, 3, 5]
list2 = [2, 4, 6]
merg=list1+list2
for i in range(len(merg)-1):
  for j in range(i+1,len(merg)):
    if merg[i]>merg[j]:
      merg[i],merg[j]=merg[j],merg[i]

merg

[1, 2, 3, 4, 5, 6]

In [ ]:
list1 = [1, 3, 5]
list2 = [2, 4, 6]
merg=[]
i=j=0
while i<len(list1) and j<len(list2):
  if list1[i]<list2[j]:
    merg.append(list1[i])
    i+=1
  else:
    merg.append(list2[j])
    j+=1

while i<len(list1):
  merg.append(list1[i])
  i+=1


while j<len(list2):
  merg.append(list2[j])
  j+=1

merg

[1, 2, 3, 4, 5, 6]

In [ ]:
arr = [1, 2, 3, 4, 5]
k = 2
for i in range(k):
  n=len(arr)-1
  last=arr[-1]
  while n>0:
    arr[n]=arr[n-1]
    n-=1
  arr[0]=last
arr

[4, 5, 1, 2, 3]

In [ ]:
arr = [1, 2, 3, 4, 5]
k = 6%len(arr)
arr=arr[-k:]+arr[:-k]
arr

[5, 1, 2, 3, 4]

In [ ]:
numss = [3, 7, 1, 2, 8, 4, 5]
ans=sum(numss)
n=len(numss)+1
act_sum=(n*(n+1))/2
num=act_sum-ans
num

6.0

In [ ]:
n=len(numss)+1
ans=None
for i in range(1,n+1):
  if i not in numss:
    ans=i
ans

6

In [ ]:
inp="abcabcbb"
sub=[]
for i in range(len(inp)):
  for j in range(i+1,len(inp)):
    if inp[i:j]:
      sub.append(inp[i:j])

def valid(x):
  if sorted(x)==sorted(list(set(x))):
    return True
  else:
    return False

val={i:len(i) for i in set(sub) if valid(i)}
mx=max(val.values())
for i,j in val.items():
  if j==mx:
    print(i)

abc
bca
cab

In [ ]:
list1 = [1, 2, 2, 1]
list2 = [2, 2]
intr=[]
for i in list1:
  if i in list2 and i not in intr:
    intr.append(i)
print(*intr)

2

In [ ]:
inp=[100, 4, 200, 1, 3, 2]
count=0
ind=0
f=inp[ind]
for i in range(len(inp)):
  if f-1 in inp:
    f=f-1
    count+=1
  else:
    count=0
    ind+=1
count

0

In [ ]:
inp="the sky is blue"
s=0
e=None
st=[]
for i in range(len(inp)):
  if inp[i]==' ':
    st.append(inp[s:i])
    s=i+1
st.append(inp[s:])
print(*st[::-1])

blue is sky the

In [ ]:
inp="the quick brown fox jumps over the lazy dog the dog"
words=[i for i in inp.split()]
freq={}
for i in words:
  if i in freq:
    freq[i]+=1
  else:
    freq[i]=1
freq

{'the': 3,
 'quick': 1,
 'brown': 1,
 'fox': 1,
 'jumps': 1,
 'over': 1,
 'lazy': 1,
 'dog': 2}

In [ ]:
dict1 = {'a': 100, 'b': 200, 'c': 300}
dict2 = {'a': 50, 'b': 250, 'd': 400}
for i in dict2:
  if i in dict1:
    dict1[i]=dict1[i]+dict2[i]
  else:
    dict1[i]=dict2[i]

print(dict1)

{'a': 150, 'b': 450, 'c': 300, 'd': 400}

In [ ]:
original_dict = {'a': 1, 'b': 2, 'c': 3}
inv={j:i for i,j in original_dict.items()}
inv

{1: 'a', 2: 'b', 3: 'c'}

In [ ]:
list_of_dicts = [{'a': 1, 'b': 2}, {'a': 3, 'b': 4}, {'a': 5, 'b': 6}]
sum1={}
for i in list_of_dicts:
  if 'a' in sum1:
    sum1['a']+=i['a']
  if 'b' in sum1:
    sum1['b']+=i['b']
  else:
    sum1['a']=i['a']
    sum1['b']=i['b']
sum1

{'a': 9, 'b': 12}

In [ ]:
list_of_dicts = [{'a': 1, 'b': 2}, {'a': 3, 'b': 4}, {'a': 5, 'b': 6}]
freq={}
for i in list_of_dicts:
  for key,value in i.items():
    if key in freq:
      freq[key]+=value
    else:
      freq[key]=value
freq

{'a': 9, 'b': 12}

In [ ]:
inp = "hello world"
freq={}
for i in inp:
  if i in freq:
    freq[i]+=1
  else:
    freq[i]=1
freq

{'h': 1, 'e': 1, 'l': 3, 'o': 2, ' ': 1, 'w': 1, 'r': 1, 'd': 1}

In [ ]:
dict1 = {'a': 1, 'b': 2, 'c': 3}
dict2 = {'a': 2, 'b': 1, 'd': 4}
for i in dict2:
  if i in dict1:
    dict1[i]+=dict2[i]
  else:
    dict1[i]=dict2[i]
dict1

{'a': 3, 'b': 3, 'c': 3, 'd': 4}

In [ ]:
scores = {'Alice': 90, 'Bob': 85, 'Charlie': 95}
mx=max(scores.values())
for i,j in scores.items():
  if j==mx:
    print(i)

Charlie

In [ ]:
data = [('a', 1), ('b', 2), ('a', 3), ('b', 4), ('c', 5)]
group={}
for i in data:
  if i[0] in group:
    group[i[0]].append(i[1])
  else:
    group[i[0]]=[i[1]]

group

{'a': [1, 3], 'b': [2, 4], 'c': [5]}

In [ ]:
dict1 = {'a': [1, 2], 'b': [3]}
dict2 = {'a': [4], 'b': [5, 6], 'c': [7]}
for i in dict2:
  if i in dict1:
    dict1[i]+=dict2[i]
  else:
    dict1[i]=dict2[i]

dict1

{'a': [1, 2, 4], 'b': [3, 5, 6], 'c': [7]}

In [ ]:
inp = "hello world"
freq={}
for i in inp:
  if i in freq:
    freq[i]+=1
  else:
    freq[i]=1
freq

{'h': 1, 'e': 1, 'l': 3, 'o': 2, ' ': 1, 'w': 1, 'r': 1, 'd': 1}

In [ ]:
dict1 = {'a': 1, 'b': 4, 'c': 3}
dict2 = {'a': 2, 'b': 3, 'd': 5}
dict1.update(dict2)
dict1

{'a': 2, 'b': 3, 'c': 3, 'd': 5}

In [ ]:

match num==2:
  case 1:
    print('its one')
  case 2:
    print('is two')
  case _:
    print('more than two')

more than two

In [ ]:
word="Leetcode"
print(word[1:].islower())

True

In [ ]:
class person:
  def __init__(self,name,age):
    self.name=name
    self.age=age
  def greet(self):
    return f"Good Day {self.name} you are {self.age} year old"

hari=person('Hari',26)
hari.greet()

'Good Day Hari you are 26 year old'

In [ ]:
class project:
  def __init__(self,proj_name,duration):
    self.proj_name=proj_name
    self.duration=duration
  def proj_details(self):
    return [self.proj_name,self.duration]
project1=project('jhdsh',554)
print(c.proj_details())

['jhdsh', 554]

In [ ]:
class Employee(person,worker):
  def __init__(self,name,age,emp_id,projects):
    super().__init__(name,age)
    self.__emp_id=emp_id
    self.project=projects

  def show_emp_details(self):
    print(f"Name:{self.name}, Employee_id:{self.__emp_id}")

  def greet(self):
    return f"Good Day {self.name} you are {self.age} year old and your Employee_id is {self.__emp_id}"

  def get_emp_id(self):
    return self.__emp_id
  def set_emp_id(self,emp_id):
    self.__emp_id=emp_id

  def work(self):
    print(f"{self.name} is working on their task")
    print(*self.project.proj_details())

emp=Employee('hari',26,'hg456',project1)
emp.show_emp_details()
emp.set_emp_id('hg421')
print(emp.get_emp_id())
emp.work()

Name:hari, Employee_id:hg456
hg421
hari is working on their task
jhdsh 554

In [ ]:
class manager(person,worker):
  def __init__(self,name,age,department):
    super().__init__(name,age)
    self.department=department

  def greet(self):
    return f"Good Day {self.name} you are {self.age} year old, and you manage the {self.department} department."
  def work(self):
    print(f"{self.name} is Managing  their department")

man1=manager('Royal',58,'Finance')
print(man1.greet())
man1.work()

Good Day Royal you are 58 year old, and you manage the Finance department.
Royal is Managing  their department

In [ ]:
from abc import ABC,abstractmethod
class worker(ABC):
  @abstractmethod
  def work(self):
    pass

In [ ]:
class Shape:
    def draw(self):
        return "Drawing a shape"

class Circle(Shape):
    def draw(self):
        return "Drawing a circle"

class Square(Shape):
    def draw(self):
        return "Drawing a square"

def draw_shape(shape):
    print(shape.draw())

# shapes = [Circle(), Square()]

# for shape in shapes:
#     draw_shape(shape)

print(Circle().draw()
,'**********',Square().draw())

Drawing a circle ********** Drawing a square

In [ ]:
data=[list(i for i in range(1,i+1)) for i in range(1,5+1)]
data[2:]

[[1, 2, 3], [1, 2, 3, 4], [1, 2, 3, 4, 5]]

In [ ]:
# Input
nums = [10, 20, 4, 45, 99]

# Expected Output
# Modified list: [10, 20, 4, 45]
lrg=0
slrg=0
for i in nums:
  if i>lrg:
    slrg=lrg
    lrg=i
  elif i>slrg and i<lrg:
    slrg=i
nums.remove(slrg)
nums

[10, 20, 4, 99]

In [ ]:
b=[4, 5, 4, 5, 6, 7, 7, 8, 4]
l=len(b)-1
while l>=0:
  if b[l] in b[:l]:
    b.pop(l)
  l-=1
b

[4, 5, 6, 7, 8]

In [ ]:
nums = [4, 5, 4, 5, 6, 7, 7, 8, 4]
ans=[]
for i in nums:
  if i not in ans:
    ans.append(i)
ans

[4, 5, 6, 7, 8]

In [ ]:
# Input lists
list1 = [1, 2, 2, 3, 4, 5]
list2 = [2, 3, 3, 5, 6, 7]

# Expected Output
# Intersection: [2, 3, 5]
list3=list(set(list1)&set(list2))
list3

[2, 3, 5]

In [ ]:
# Input
nums = [4, 5, 4, 6, 7, 5, 8]

num=[i for i in nums if nums.count(i)==1]
num

[6, 7, 8]

In [ ]:
nums = [1, 2, 2, 3, 4, 3, 5]
l=len(nums)-1
while l>=0:
  if nums[l] in nums[:l]:
    nums.pop(l)
  l-=1
nums

[1, 2, 3, 4, 5]

In [ ]:
text='Malayalam'
text=text.lower()
x=len(text)-1
inv=''
while x>=0:
  inv+=text[x]
  x-=1
if inv==text:
  print('yes')
else:
  print('No')

yes

In [ ]:
class Book:
  def __init__(self,title='title',author='author',year_published='2000'):
    self.title=title
    self.author=author
    self.year_published=year_published

  def display_info(self):
    print(self.title,self.author,self.year_published)

  def __del__(self):
    print("Book Oject is Deleted")

book=Book()
book.display_info()

title author 2000
Book Oject is Deleted

In [ ]:
def divide_numbers(a,b):
  try:
    res=a/b
  except ZeroDivisionError as e:
    print(e)
  except TypeError as e:
    print(e)
  else:
    print('Ans is:',res)

divide_numbers(4,2)

Ans is: 2.0

In [ ]:
my_list = [3, 7, 2, 9, 1]
my_list.sort()
my_list.append(4)
small=min(my_list)
my_list.remove(small)
my_list
sums=sum(my_list)
sums

25

In [ ]:
my_dict = {'a': 10, 'b': 20, 'c': 30}
my_dict['d']=40
del my_dict['b']
if 'c' in my_dict.keys():
  print('yes')
print(my_dict.keys())

yes
dict_keys(['a', 'c', 'd'])

In [ ]:
li=[1, 2, 3, 4, 5, 6]
ans=[i*i for i in li if i%2==0]
ans

[4, 16, 36]

In [ ]:
di=[(1, 'one'), (2, 'two'), (3, 'three')]
ans={i[0]:i[1] for i in di}
ans

{1: 'one', 2: 'two', 3: 'three'}

In [ ]:
x=lambda x,y:x*y
x(6,7)

42

In [ ]:
def my_gen(n):
  for i in range(1,n+1):
    yield i
gen=my_gen(5)
for i in gen:
  print(i)

1
2
3
4
5

In [ ]:

def to_upper(func):
  def wrapper():
    res=func()
    return res.upper()
  return wrapper

@to_upper
def greet():
  return 'hello'
greet()

'HELLO'

In [ ]:
for i in range(1,11):
  if i==8:
    break
  elif i%2==0:
    print(i)
  elif i%2!=0:
    continue

2
4
6

In [ ]:
def compare(a,b):
 greater= a if a>b else b
 summ=a+b
 return (f"greater is:{greater} and sum is {summ}")
print(compare(8,5))

greater is:8 and sum is 13

In [ ]:
if '':
  print('True')
else:
  print("False")

False

In [ ]:
from datetime import datetime
print(datetime.now().strftime("%H:%M"))
d=datetime.today()
d.day

18:43

27

In [ ]:
match 'hari':
  case 'hari':
    print("Its hari")
  case 'Hari':
    print('its complete')
  case 'Girir':
    print('its giri')
  case _:
    print('Not found')

Its hari

In [ ]:
# li= [10, 15, 21, 33, 42, 55]
li=[4, 8, 10]
larg=None
slarg=None
c=0
for i in li:
  if i%2!=0:
    c+=1
    if larg==None or i>larg :
      slarg=larg
      larg=i
    elif slarg is None or i>slarg and i<larg:
      slarg=i
if c<2:
  print(None)
else:
  print(slarg)

None

In [ ]:
word1="A man a plan a canal Panama"
word2="Hello"

def palindrome(word):
  word=''.join(word.split()).lower()

  end=len(word)-1
  strt=0
  while strt<end:
    if word[end]!=word[strt]:
      return False
    end-=1
    strt+=1
  return True

print(palindrome(word1))

True

In [ ]:
lis_words= ["madam", "hello", "racecar", "python", "level"]
pals=[i for i in lis_words if palindrome(i)]
pals

['madam', 'racecar', 'level']

In [ ]:
data = {
    "person1": {"first_name": "John", "last_name": "Doe"},
    "person2": {"first_name": "Jane", "last_name": "Smith"}
}
datas={i:f"{j['first_name']} {j['last_name']}" for i,j in data.items()}
datas

{'person1': 'John Doe', 'person2': 'Jane Smith'}

In [ ]:
import sys

num=[i for i in range(1,10)]
my_it=iter(num)
next(my_it)

1

StopIteration:

In [ ]:
data=(2,3,4,5)
data=list(data)
data.append(6)
data=tuple(data)
data

(2, 3, 4, 5, 6)

In [ ]:
data=list(map(lambda x:x*x,(i for i in range(1,11))))
data

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
x = [4,3,7,4,2,200]
y = [1,2,3,10,2,4]
common=[]
for i in x:
  if i in y:
    common.append(i)
set(common)

{2, 3, 4}

In [ ]:
a = [
{"name":"Angela", "age":23,"place":"newyork"},
{"name":"charlie", "age":24,"place":"america"},
{"name":"jobin", "age":23},
{"name":"Kiran", "age":43}
]
b=[]
for i in a:
  if 'place' not in i.keys():
    b.append(i)

b

[{'name': 'jobin', 'age': 23}, {'name': 'Kiran', 'age': 43}]

In [ ]:
fruits = ["apple","banana","grapes","apple","mango","grapes","apple","banana","cherry","kiwi"]
data=[{i:len(i)} for i in fruits]
print(*data)

{'apple': 5} {'banana': 6} {'grapes': 6} {'apple': 5} {'mango': 5} {'grapes': 6} {'apple': 5} {'banana': 6} {'cherry': 6} {'kiwi': 4}

In [ ]:
data={i for i in range(1,11)}
data.add(11)
data.remove(5)
data.pop()
data

{2, 3, 4, 6, 7, 8, 9, 10, 11}

In [ ]:
data.remove(11)

In [ ]:
A = {10, 20, 30, 40, 50}
B = {30, 40, 50, 60, 70}
data={i for i in A if i in B}
data

{30, 40, 50}

In [ ]:
data=A.intersection(B)
data

{30, 40, 50}

In [ ]:
X = {1, 2, 3, 4, 5}
Y = {4, 5, 6, 7, 8}
data={i for i in X if i not in Y}
data

{1, 2, 3}

In [ ]:
data=X-Y
data

{1, 2, 3}

In [ ]:
P = {100, 200, 300}
Q = {200, 300, 400, 500}
data=P.union(Q )
data=data-{i for i in P if i in Q}
data

{100, 400, 500}

In [ ]:
set1 = {1, 2, 3, 4}
set2 = {1,2,3, 4, 5, 6}
set1.issubset(set2)

True

In [ ]:
S = {10, 20, 30, 40}
S.add(50)
S

{10, 20, 30, 40, 50}

In [ ]:
T = {100, 200, 300, 400}
T.remove(300)
T

{100, 200, 400}

In [ ]:
U = {1, 2, 3, 4, 5}
U.clear()
U

set()

In [ ]:
setA = {5, 10, 15, 20}
setB = {15, 20, 25, 30}
setA=setA.union(setB)

In [ ]:
setA

{5, 10, 15, 20, 25, 30}

In [ ]:
V = {2, 4, 6, 8, 10}
print(max(V))

10

In [ ]:
W = {1, 3, 5, 7, 9}
print(5 in W)

True

In [ ]:
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}
c=A.union(B)
ans=c-{i for i in A if i in B}
ans

{1, 2, 3, 6, 7, 8}

In [ ]:
C = {2, 4, 6, 8, 10}
even={i for i in C if i%2==0}
even

{2, 4, 6, 8, 10}

In [ ]:
D = {1, 2, 3}
E = {3, 4, 5}
print(D-E)

{1, 2}

In [ ]:
F = {10, 20, 30, 40, 50}
F.remove(20)
F

{10, 30, 40, 50}

In [ ]:
H = {6, 7, 8}
G = {1, 2, 3, 4, 5}
print(G.issubset(H))
if not G.issubset(H):
  print('yes: it is disjoint')
else:
  print('NO')

False
yes: it is disjoint

In [ ]:
a=(1,23,2)
b=(5,9)
c=a+b
c

(1, 23, 2, 5, 9)

In [ ]:
i=range(5)
for ele in i:
  print(ele)

0
1
2
3
4

In [ ]:
numbers = [3, 11, 7, 5, 13, 4]
data=['High' if num>10 else 'Medium' if num>=5 and num<=10 else 'Low' for num in numbers]
data

['Low', 'High', 'Medium', 'Medium', 'High', 'Low']

In [ ]:
numbers = [-1, 2, 5, 0, 8, 3]
data=[i*2 if i%2==0 else i*3  for i in numbers if i>0]
data

[4, 15, 16, 9]

In [ ]:
scores = [95, 85, 76, 67, 54, 88, 100]
data=['A' if i>=90 else 'B' if i>=80 else 'C' if i>=70 else 'D' if i>=60 else 'F' for i in scores]
data

['A', 'B', 'C', 'D', 'F', 'B', 'A']

In [ ]:
words = ['hello', 'world', 'Python', 'programming', 'is', 'fun']
data=[i.upper() if len(i)>5 else i for i in words]
data

['hello', 'world', 'PYTHON', 'PROGRAMMING', 'is', 'fun']

In [ ]:
temperatures = [-10, 0, 5, 10, 15]
data=[i*9/5+32 if i>0 else i for i in temperatures]
data

[-10, 0, 41.0, 50.0, 59.0]

In [ ]:
mixed_values = ['Hello', 10, 'WORLD', 20.5, 'Python', None, 5]
data=[i.lower() if isinstance(i,str) else i for i in mixed_values]
data

['hello', 10, 'world', 20.5, 'python', None, 5]

In [ ]:
ages = [15, 22, 'twenty', 17, 18, 30, None, 12]
data=['Minor' if i<18 else 'Adult' for i in ages if isinstance(i,int)]
data

['Minor', 'Adult', 'Minor', 'Adult', 'Adult', 'Minor']

In [ ]:
def fibo(n):
  a,b=0,1
  for i in range(n):
    print(a)
    a,b=b,b+a

fibo(4)

0
1
1
2

In [ ]:
data='aaabbca'
# op='a3b2c1a1'
val=[i for i in data]
val

['a', 'a', 'a', 'b', 'b', 'c', 'a']

In [ ]:
data='aaabbca'
# op='a3b2c1a1'
val=[i for i in data]
ans=[]

count=1
for i in range(1,len(val)):
  if val[i]==val[i-1]:
    count+=1
  else:
    ans.append(val[i-1])
    ans.append(str(count))
    count=1
ans.append(val[-1])
ans.append(str(count))
print(''.join(ans))

a3b2c1a1

In [12]:
def is_prime(num):
  if num<=1:
    return False
  else:
    for i in range(2,(num//2)+1):
      if num%i==0:
        return False
  return True

In [16]:
print(is_prime(2))

True

In [19]:
prime=[i for i in range(51) if is_prime(i)]
prime

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [24]:
num=[1, 2, 2, 3, 4, 4, 5]
uni=list(filter(lambda x:num.count(x)==1,num))
uni

[1, 3, 5]

In [26]:
uni={}
for i in num:
  if i in uni:
    uni[i]+=1
  else:
    uni[i]=1
ans=[i for i in uni if uni[i]==1]
ans

[1, 3, 5]

In [27]:
a=0
b=1
for i in range(10):
  print(a)
  a,b = b,a+b

0
1
1
2
3
5
8
13
21
34

In [28]:
num=[3, 4, 5, 6, 7, 8, 9, 10]
def is_prime(num):
  if num<=1:
    return False
  else:
    for i in range(2,(num//2)+1):
      if num%i==0:
        return False
  return True
ans=sum([1 for i in num if is_prime(i) ])
ans

3

In [40]:
name="hello"
uni=set(name)
print(len(uni))

4

In [49]:
sent="A man a plan a canal Panama"
sent=''.join(sent.split()).lower()
s=0
e=len(sent)-1
flag=1
while s<e:
  if sent[s]!=sent[e]:
    flag=0
  s+=1
  e-=1
if flag==1:
  print('palindrome')
else:
  print('Not palindrome')

palindrome

In [55]:
name="hello"
name=list(set(name))
name=sorted(name)
name

['e', 'h', 'l', 'o']

In [66]:
word="abc"
comb=[]
for i in range(len(word)):
  for j in range(i+1,len(word)+1):
    print(word[i:j])

a
ab
abc
b
bc
c

In [70]:
num=5
fact=1
for i in range(1,num+1):
  fact*=i
fact

120

In [75]:
word="listen"
word2="silent"
if sorted(word)==sorted(word2):
  print('yes')
else:
  print('No')

yes

In [78]:
num=1211
if str(num)==str(num)[::-1]:
  print('yes')
else:
  print('No')

No

In [80]:
num=153
sum=0
n=len(str(num))
for i in str(num):
  sum+=int(i)**n
sum

153

In [82]:

num=28
sum=0
for i in range(1,(num//2)+1):
  if num%i==0:
    sum+=i

if sum==num:
  print('perfect')
else:
  print('noot')

perfect