In [ ]:
my_list=['apple','banana','cherry','mango','orange']
my_list.append('coconut')

In [ ]:
print(my_list)

['apple', 'banana', 'cherry', 'mango', 'orange', 'coconut']

In [ ]:
my_list.insert(2,'lemon')
print(my_list)

['apple', 'banana', 'lemon', 'cherry', 'mango', 'orange', 'coconut']

In [ ]:
last=my_list.pop()
print(last)

coconut

In [ ]:
my_list.remove('apple')
print(my_list)

['banana', 'lemon', 'cherry', 'mango', 'orange']

In [ ]:
print(my_list)

['banana', 'lemon', 'cherry', 'mango', 'orange']

In [ ]:
my_list.reverse()
print(my_list)

['orange', 'mango', 'cherry', 'lemon', 'banana']

In [ ]:
def squared():
  m=list(map(int,input('Enter numbers:').split(' ')))
  return [i**2 for i in m]

print(squared())

Enter numbers:12 2 3
[144, 4, 9]

In [ ]:
num=[5, 3, 9, 1, 7]
nums=[i for i in sorted(set(num))]
nums[-2]

7

In [ ]:
def high(d):
  for i,j in d.items():
    if j==max(d.values()):
      return {i:j}
d={'apple': 2, 'banana': 1, 'cherry': 3}
print(high(d))

{'cherry': 3}

In [ ]:
dict1 = {'a': 1, 'b': 2}
dict2 = {'b': 3, 'c': 4}
dict3={i:j for i,j in dict1.items()}
for i,j in dict2.items():
  if i in dict3.keys():
    dict3[i]+=dict2[i]
  else:
    dict3[i]=j

print(dict3)

{'a': 1, 'b': 5, 'c': 4}

In [ ]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}
set3={i for i in set1 if i in set2}
print(set3)

{2, 3}

In [ ]:
data=[('Alice', 85), ('Bob', 90), ('Charlie', 82)]
datas=sorted(data, key=lambda x:x[1],reverse=True)
print(datas)

[('Bob', 90), ('Alice', 85), ('Charlie', 82)]

In [ ]:
inp= [[1, 2], [3, 4], [5, 6]]
tup=tuple((tuple(i) for i in inp))
print(tup)

((1, 2), (3, 4), (5, 6))

In [ ]:
num=[1, 2, 3, 4, 5, 6]
even=[i for i in num if i%2==0]
print(even)

[2, 4, 6]

In [ ]:
num=[1, 2, 3, 4, 5, 6]
even=list(filter(lambda x:x%2==0,num))
print(even)

[2, 4, 6]

In [ ]:
num=[1, 2, 3, 4]
nums=list(map(lambda x:x*3,num))
nums

[3, 6, 9, 12]

In [ ]:
from functools import reduce
num=[1, 2, 3, 4]
prod=reduce(lambda x,y:x*y, num)
prod

24

In [ ]:
num=[1, 2, 3, 4, 5, 6]
sqr=[i**2 for i in num if i%2==0]
sqr

[4, 16, 36]

In [ ]:
k=[1, 2, 3, 4]
dic={i:i**3 for i in k}
dic

{1: 1, 2: 8, 3: 27, 4: 64}

In [ ]:
word=['apple', 'banana', 'pear', 'kiwi']
ln={len(i) for i in word}
ln

{4, 5, 6}

In [ ]:
num=[-1, 2,0, -3, 4, -5, 6]
nums=[i for i in num if i>0]
nums

[2, 4, 6]

In [ ]:
name='hello'
num={i:name.count(i) for i in name}
num

{'h': 1, 'e': 1, 'l': 2, 'o': 1}

In [ ]:
num=[-1, 2,0, -3, 4, -5, 6]
dub=list(map(lambda x:x*2,num))
dub

[-2, 4, 0, -6, 8, -10, 12]

In [ ]:
name=["apple", "banana", "cherry"]
nam=list(map(lambda x:x.upper(),name))
nam

['APPLE', 'BANANA', 'CHERRY']

In [ ]:
num=[1, 2, 3, 4, 5, 6]
nums=list(filter(lambda x:x%2!=0,num))

nums

[1, 3, 5]

In [ ]:
name=["apple", "banana", "cherry"]
coun=list(map(lambda x:len(x),name))
coun

[5, 6, 6]

In [ ]:
word="hello world"
v=['a','e','i','o','u']
def vow(word):
  res=''.join([char for char in word if char not in v])
  return res
print(vow(word))

hll wrld

In [ ]:
num=[-1, 2, 3, -4, 5]
nums=list(map(lambda x:x**2,[i for i in num if i>0]))
nums

[4, 9, 25]

In [ ]:
name=["apple", "banana", "pear", "kiwi"]
names=sorted(name,key=lambda x:len(x))
names

['pear', 'kiwi', 'apple', 'banana']

In [ ]:
num=[1, 2, 2, 3, 4, 4, 5]
uni=[]
for i in num:
  if i not in uni:
    uni.append(i)

uni

[1, 2, 3, 4, 5]

In [ ]:
arr=[3, 1, 4, 2]
arr.sort(reverse=True)
arr

[4, 3, 2, 1]

In [ ]:
name=["apple", "banana", "orange", "kiwi"]
v=['a','e','i','o','u']
nm=[i for i in name if i[0] in v]
nm

['apple', 'orange']

In [ ]:
num=[-1, 2, 3, -4, 5]
sum1=sum(list(filter(lambda x:x>0,num)))
sum1

10

In [ ]:
num=[-1, 2, 3, -4, 5]
sum1=reduce(lambda x,y:x+y,list(filter(lambda x:x>0,num)))
sum1

10

In [ ]:
num=[1, 2, 3, 4, 5, 6]
su=list(map(lambda x:x**3,list(filter(lambda x:x%2==0,num))))
su

[8, 64, 216]

In [ ]:
name="hello world"
nam=[i for i in name if i!=' ']
dic={i:name.count(i) for i in nam}
dic

{'h': 1, 'e': 1, 'l': 3, 'o': 2, 'w': 1, 'r': 1, 'd': 1}

In [ ]:
nm=[1, 5, 8, 10]
op=[i for i in nm if i>5]
op

[8, 10]

In [ ]:
ip="hello world"
words=list(map(str,ip.split(' ')))
dic={i:len(i) for i in words}
dic

{'hello': 5, 'world': 5}

In [ ]:
def prime(n):
  if n<=1 :
    return False
  for i in range(2,(n//2)+1):
    if n%i==0 and i!=n:
      return False
  return True

num=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
primes=list(filter(lambda x:prime(x),num))
primes

[2, 3, 5, 7]

In [ ]:
name=[('Alice', 30), ('Bob', 15), ('Charlie', 25), ('David', 17)]
old=[i[0] for i in name if i[1]>=18]
old

['Alice', 'Charlie']

In [ ]:
name=["racecar", "hello", "level", "world", "radar"]
def palindrome(name):
  l=0
  r=len(name)-1
  while l<r:
    if name[l]!=name[r]:
      return False
    l+=1
    r-=1
  return True

nm=list(filter(lambda x:palindrome(x),name))
nm

['racecar', 'level', 'radar']

In [ ]:
num=[1, 2, 2, 3, 4, 4, 5]
print(sum(set(num)))

15

In [ ]:
num=[1, 2, 3, 4, 5]
nums=[i for i in num if i>(sum(num)/len(num))]
nums

[4, 5]

_____________________OOPS______________________

In [ ]:
class car:
  def __init__(self,make,model,year,ctype):
    self.__make=make
    self.__model=model
    self.__year=year
    self.__ctype=ctype
  def get_display(self):
    print("---- car details----")
    print(self.__make)
    print(self.__model)
    print(self.__year)
  def set_make(self,val):
    self.__make=val
  def set_model(self,val):
    self.__model=val
  def set_year(self,val):
    self.__year=val

  def cartype(self):
    return self.__ctype

obj=car('Ford','F-150',2019,'petrol')
obj.get_display()
obj.set_make('Nissan')
print()
obj.get_display()
print(obj.cartype())

class Electriccar(car):
  def __init__(self,make,model,year,ctype,battery_capacity):
    super().__init__(make,model,year,ctype)
    self.__battery_capacity=battery_capacity
  def get_display(self):
    print("----Electric car details----")
    super().get_display()
    return self.__battery_capacity


eobj=Electriccar('Tesla','model-y','2024','Electric Car',12000)
eobj.get_display()
print(eobj.cartype())

---- car details----
Ford
F-150
2019

---- car details----
Nissan
F-150
2019
petrol
----Electric car details----
---- car details----
Tesla
model-y
2024
Electric Car

oops(3-10-2024)

In [ ]:
class BankAccount:
  def __init__(self,account_holder,balance=0):
    self.account_holder=account_holder
    self.balance=balance
  def deposit(self,amount):
    self.balance+=amount
    print(f"Money Credited:{amount}")
  def withdraw(self,amount):
    if amount>self.balance:
      print("Insufficient Balance")
    else:
      self.balance-=amount
      print(f"Money Debited:{amount}")
  def display_balance(self):
    print(f"Account Balance: {self.balance}")

In [ ]:
h=BankAccount('Hari',25000)
h.display_balance()

Account Balance: 25000

In [ ]:
h.deposit(2000)
h.display_balance()

Money Credited:2000
Account Balance: 22450

In [ ]:
h.withdraw(2850)
h.display_balance()

Money Debited:2850
Account Balance: 19600

In [ ]:
class Employee:
  def __init__(self,name,position,salary):
    self.name=name
    self.position=position
    self.salary=salary
  def give_raise(self,amount):
    self.salary+=amount
  def display_info(self):
    print("Name:",self.name)
    print("Position:",self.position)
    print("Salary:",self.salary)

emp1=Employee("Hari","Accountant",25000)
emp1.give_raise(5000)
emp1.display_info()

Name: Hari
Position: Accountant
Salary: 30000

In [ ]:
class Manager(Employee):
  def __init__(self,name,position,salary,department):
    super().__init__(name,position,salary)
    self.department=department
  def display_info(self):
    super().display_info()
    print("Department:",self.department)

emp2=Manager("giri","Accounts Manager",50000,"Accounts")
emp2.give_raise(5000)
emp2.display_info()
print()
emp1.display_info()

Name: giri
Position: Accounts Manager
Salary: 55000
Department: Accounts

Name: Hari
Position: Accountant
Salary: 30000

In [ ]:
class Rectangle:
  def __init__(self,length,width) -> None:
    self.length=length
    self.width=width
  def area(self):
    area=self.length*self.width
    print(f"Area is: {area}")
  def perimeter(self):
    perimeter=2*(self.length+self.width)
    print(f"Perimeter is {perimeter}")

class Square(Rectangle):
  def __init__(self,side):
    super().__init__(side,side)

r=Rectangle(4,2)
r.area()
r.perimeter()
s=Square(4)
s.area()
s.perimeter()

Area is: 8
Perimeter is 12
Area is: 16
Perimeter is 16

In [ ]:
class shape:
  def __init__(self,l=0,w=0,h=0,name='Rectangle') -> None:
    self.l=l
    self.w=w
    self.h=h
    self.name=name
  def area(self):
    pass

class Rectangle(shape):
  def __init__(self,l,w=None) -> None:
    if w is None:
      name='Square'
      super().__init__(l,l,name=name)
    else:
      name='Rectangle'
      super().__init__(l,w,name=name)
  def area(self):
    res=self.l*self.w
    print(f"Area of {self.name}: {res} M^2")

class Circle(shape):
  def __init__(self,r) -> None:
    self.r=r
  def area(self):
    res=3.14*(self.r**2)
    print(f"Area of Circle: {res} M^2")

c=Circle(5)
c.area()
r=Rectangle(4)
r.area()
r1=Rectangle(4,5)
r1.area()

Area of Circle: 78.5 M^2
Area of Square: 16 M^2
Area of Rectangle: 20 M^2

In [ ]:
class stringadd:
  def __init__(self,a):
    self.a=a

  def __add__(self,other):
    return int(self.a)+int(other.a)


a=stringadd(1)
b=stringadd('3')
res=a+b
print(res)

4

ABSTARCTION

In [ ]:
from abc import ABC,abstractmethod
class Account(ABC):
  def __init__(self,balance=1000):
    self.balance=balance
  @abstractmethod
  def calcint(self):
    pass
  def get_balance(self):
    return self.balance

class SavingsAcc(Account):
  def __init__(self,bal):
    super().__init__(balance=bal)


  def calcint(self):
    interest=self.balance*0.04
    self.balance+=interest
    return interest

class CurrentsAcc(Account):
  def __init__(self,bal):
    super().__init__(balance=bal)
  def calcint(self):
    interest=self.balance*0.02
    self.balance+=interest
    return interest

s1=CurrentsAcc(2000)
print(s1.get_balance())
print(s1.calcint())
print(s1.get_balance())

2000
40.0
2040.0

ENcapsulation

In [ ]:
class BankAccount:
  def __init__(self,accno,name,balance):
    self.__accno=accno
    self.__name=name
    self.__balance=balance

  def get_balance(self,password):
    if self.__authorise(password):
      return (f"Account Balance: {self.__balance}")
    else:
      print("Incorreect password")

  def set_balance(self,amount,password):
    if self.__authorise(password):
      self.__balance+=amount
      print(f"{amount} Deposited in {self.__accno}")
    else:
      print("Incorreect password")
  def get_money(self,amount,password):
    if self.__authorise(password):
      if amount>self.__balance:
        print("Not Enough Balance")
      else:
        self.__balance-=amount
        print(f"{amount} Deducted from {self.__accno}")
        print(self.get_balance())
    else:
      print("Incorreect password")

  def __authorise(self,password):
    O_password='asdf123'
    return O_password==password

user=BankAccount('256Hari','Harikrishnan',25000)
print(user.get_balance('asdf123'))
user.set_balance(5000,'asdf123')
print(user.get_balance('asdf123'))

Account Balance: 25000
5000 Deposited in 256Hari
Account Balance: 30000

Challenges

In [ ]:
my_list = [2, 4, [6, 8], 10, [12, [14, 16]], 18]
my_list[4][1][1]

16

In [ ]:
my_string = "Python is fun!"
l=''
r=len(my_string)-1
while r>=0:
  l=l+my_string[r]
  r-=1
l

'!nuf si nohtyP'

In [ ]:
my_tuple = (1, 2, (3, 4), (5, (6, 7), 8), 9)
my_tuple[3][1][1]

7

In [ ]:
my_dict = {
    "name": "Alice",
    "age": 30,
    "address": {
        "city": "Wonderland",
        "zipcode": 12345,
        "coordinates": {
            "lat": 52.52,
            "long": 13.405
        }
    },
    "skills": ["Python", "Django", "Data Science"]
}

my_dict["address"]['coordinates']['long']

13.405

In [ ]:
my_dict.keys()

dict_keys(['name', 'age', 'address', 'skills'])

In [ ]:
def print_dict(d, indent=0):
    for key, value in d.items():
        print('  ' * indent + str(key) + ": ", end="")
        if isinstance(value, dict):
            print()  # Print a new line for nested dictionary
            print_dict(value, indent + 1)  # Recur for nested dictionaries
        else:
            print(value)  # Print the value
print_dict(my_dict)

name: Alice
age: 30
address:
  city: Wonderland
  zipcode: 12345
  coordinates:
    lat: 52.52
    long: 13.405
skills: ['Python', 'Django', 'Data Science']

In [ ]:
my_dict['address']['city']

'Wonderland'

In [ ]:
numbers = [1, 2, 3, 4, 5]
sqr=[i**2 for i in numbers]
sqr

[1, 4, 9, 16, 25]

In [ ]:
my_string = "hello world"
print(my_string.upper())

HELLO WORLD

In [ ]:
my_tuple = (10, 20, 30, 40, 50)
my_tuple[2]

30

In [ ]:
nested_list = [[1, 2, 3], [4, 5, [6, 7]], [8, 9]]
nested_list[1][2][0]

6

In [ ]:
my_list = [1, 2, 3, 4, 5]
my_list.append(6)
print(my_list)
print(my_list[1])
my_list[3]=40
print(my_list)
my_list.remove(2)
my_list

[1, 2, 3, 4, 5, 6]
2
[1, 2, 3, 40, 5, 6]

[1, 3, 40, 5, 6]

In [ ]:
my_dict = {
    "name": "Bob",
    "age": 25,
}
my_dict['city']='New York'
print(my_dict['name'])
my_dict['age']=26
print(my_dict)
del my_dict['name']
print(my_dict)

Bob
{'name': 'Bob', 'age': 26, 'city': 'New York'}
{'age': 26, 'city': 'New York'}

In [ ]:
my_set = {1, 2, 3}
my_set.add(4)
print(my_set)
if 3 in my_set:
  print('Yes')
my_set.remove(1)
my_set

{1, 2, 3, 4}
Yes

{2, 3, 4}

In [ ]:
my_tuple = (10, 20, 30)
my_tuple=list(my_tuple)
my_tuple.append(40)
my_tuple=tuple(my_tuple)
print(my_tuple)
print(my_tuple[1])
new=list(my_tuple)
new[1]=25
new=tuple(new)
print(new)

(10, 20, 30, 40)
20
(10, 25, 30, 40)

In [ ]:
my_string = "Hello, World!"
new=""+my_string+' How are you?'
newl=new.split(' ')
newl[1]='there!'
new2=' '.join(newl)
print(new2)
new3=new2.replace('there','Hari')
print(new3)

Hello, there! How are you?
Hello, Hari! How are you?

In [ ]:
num = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
nums=[i**2 for i in num if i%2==0]
nums

[4, 16, 36, 64, 100]

In [ ]:
nums=[i**2 if i%2==0 else i**3 for i in num]
nums

[1, 4, 27, 16, 125, 36, 343, 64, 729, 100]

In [ ]:
people = [("Alice", 30), ("Bob", 25), ("Charlie", 35)]
name={i[0]:i[1] for i in people}
name

{'Alice': 30, 'Bob': 25, 'Charlie': 35}

In [ ]:
numbers = [1, 2, 3, 2, 4, 5, 3, 4, 5]
num={i for i in numbers if i%2==0}
num

{2, 4}

In [ ]:
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
nums=[i for li in matrix for i in li]
nums

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
numbers = [1, 2, 3, 4, 5]
nums=list(map(lambda x:x**3,numbers))
nums

[1, 8, 27, 64, 125]

In [ ]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even=list(filter(lambda x:x%2==0,numbers))
even

[2, 4, 6, 8, 10]

In [ ]:
from functools import reduce
numbers = [1, 2, 3, 4, 5]
product=reduce(lambda x,y:x*y,numbers)
product

120

In [ ]:
def log_decorator(fun):
  def wrapper(*args):
    print(f"First arg:{args[0]}")
    print(f"Second arg:{args[1]}")
    res=fun(*args)
    return res
  return wrapper

@log_decorator
def add(a,b):
  return a+b

print(add(2,8))

First arg:2
Second arg:8
10

In [2]:
students = {
    'Alice': 88,
    'Bob': 95,
    'Charlie': 87,
    'David': 92
}
h=max(students.values())
for i,j in students.items():
  if j==h:
    print(i,':',j)

Bob : 95

In [5]:
products = {
    'Laptop': 800,
    'Phone': 600,
    'Tablet': 300
}
for i,j in products.items():
  j=j*1.10
  products[i]=round(j,2)

products

{'Laptop': 880.0, 'Phone': 660.0, 'Tablet': 330.0}

In [16]:
employees = {
    'Alice': ['task1', 'task2', 'task3'],
    'Bob': ['task1', 'task2'],
    'Charlie': ['task1', 'task2', 'task3', 'task4'],
    'David': ['task1']
}
emp={i:len(j) for i,j in employees.items()}
h=max(emp.values())
for i,j in emp.items():
  if j==h:
    print(i)

Charlie

In [19]:
cities = {
    'CityA': {'population': 500000, 'area': 400},
    'CityB': {'population': 1200000, 'area': 850},
    'CityC': {'population': 700000, 'area': 300}
}
pop={i:j['population']/j['area'] for i,j in cities.items()}
print(pop)
h=max(pop.values())
for i,j in pop.items():
  if j==h:
    print(i)

{'CityA': 1250.0, 'CityB': 1411.764705882353, 'CityC': 2333.3333333333335}
CityC